{% extends "layout.html" %}

{% block content %}
<body>


<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{{ url_for('send_static', path='images/titanic.jpg') }}" class="card-img-top" alt="Titanic Project thumbnail">
      <div class="card-body">
        <h5 class="card-title">Titanic Project</h5>
        <p class="card-text">
            In this project, I was keen on developing a simple supervised machine learning model to predict
            which passengers survived the titanic disaster. In particular, I wanted to build the following skills:
            <ul>
                <li>Data analysis including conducting statistical tests.</li>
                <li>Training, evaluating and improving binary classifiers.</li>
                <li>Modularising the model into a pipeline using PostgreSQL and Docker.</li>
            </ul>
        </p>
          <a href="{{ url_for('titanic') }}" class="btn btn-primary d-flex flex-column">More</a>
      </div>
    </div>
  </div>
  <div class="Loan Default classifier">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>

</div>
</body>
</html>

{% endblock content %}