{% extends "layout.html" %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

<!--    <h1> Home Page </h1>-->
    <body>

    <div class="header">
      <h2>Home Page</h2>
    </div>

    <div class="container">
        <div class="row">
          <div class="column" style="background-color:#aaa;">
            <h2>
                Titanic Project
            </h2>

              <p>
                  Here is the link to my titanic project code:
              </p>

          </div>
          <div class="column" style="background-color:#bbb;">Column</div>
          <div class="column" style="background-color:#ccc;">Column</div>
        </div>
    </div>

    <div class="footer">
      <p>Footer</p>
    </div>

    </body>
{% endblock content %}